.ui-kit-header-menu

    ul.ui-kit-header-menu__items.sf-menu
        li.ui-kit-header-menu__item
            a(href="#").ui-kit-header-menu__item-link.ui-kit-header-menu__item-link_active Home
        li.ui-kit-header-menu__item
            a(href="#").ui-kit-header-menu__item-link About Us
        li.ui-kit-header-menu__item.ui-kit-header-menu__item_expand
            a(href="#").ui-kit-header-menu__item-link Services
                i.material-icons.expand-more-icon &#xe5cf;
            ul.services__menu-items
                li.services__menu-item
                    a(href="#").services__menu-item-link Service1
                li.services__menu-item
                    a(href="#").services__menu-item-link Service2
        li.ui-kit-header-menu__item
            a(href="#").ui-kit-header-menu__item-link Careers
        li.ui-kit-header-menu__item
            a(href="#").ui-kit-header-menu__item-link News
        li.ui-kit-header-menu__item
            a(href="#").ui-kit-header-menu__item-link Documentation
                