.header-menu__items
    margin: 0
    padding: 0
    list-style: none

.header-menu__item
    // display: inline-block
    margin-right: 20px
    &:last-child
        margin-right: 0

.header-menu__item-link
    font-size: 14px
    line-height: 17px
    font-family: "MontserratRegular", serif
    color: $gray-dark
    transition: color .3s ease
    &:hover
        color: $purple
        text-decoration: none
    .expand-more-icon
        line-height: 17px
        vertical-align: bottom
        transition: color .3s ease
        margin-bottom: -2px
    .active
        font-family: "MontserratBold", serif
        color: $text

.sf-menu > li
    background-color: #fff
    &:hover
        background-color: #fff
.sf-menu > li > a
    padding: 0
    color: $gray-dark
    background-color: #fff
    &:hover
        background-color: #fff

.sf-menu a
    background-color: #fff
    color: $gray-dark
    background-color: #fff
    transition: color .3s ease
    &:hover
        background-color: #fff
        color: $purple
        text-decoration: none
        .expand-more-icon
            color: $purple

.sf-menu a.sf-with-ul
    display: flex
    justify-content: space-between
    align-items: center

.sf-menu ul
    width: 260px
    top: 140%

.sf-menu li
    white-space: unset


.services__menu-item-link
    .expand-more-icon
        transform: rotate(-90deg)

#mobile-menu
    z-index: 1
    .header-menu__item
        margin-right: 0

// кнопка от мастера
.toggle-mnu
    width: 28px
    height: 28px
    float: right
    margin-left: 20px
    margin-top: 5px
    display: none
    span:after, span:before 
        content: ""
        position: absolute
        left: 0
        top: 9px

    span:after
        top: 18px

    span 
        position: relative
        display: block

    span, span:after, span:before
        width: 100%
        height: 2px
        background-color: #666
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px

    &.on span 
        background-color: transparent

    &.on span:before 
        transform: rotate(45deg) translate(-1px, 0px)

    &.on span:after 
        transform: rotate(-45deg) translate(6px, -7px)

@media only screen and (max-width : 1120px)
    .toggle-mnu
        display: block
    .header-menu
        order: 1

    ul.sf-menu
        display: none
        
@media only screen and (min-width : 1121px)
    #mobile-menu, html.mm-wrapper_blocking .mm-wrapper__blocker
        display: none

    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout
        transform: translate(0px, 0px)

    .mm-wrapper_opening [class*="mm-menu_pagedim"].mm-menu_opened ~ .mm-wrapper__blocker
        opacity: 0

