.header-menu

    ul.header-menu__items.sf-menu
        li.header-menu__item
            a(href="#").header-menu__item-link О нас
        li.header-menu__item
            a(href="#").header-menu__item-link Услуги
                i.material-icons.expand-more-icon &#xe5cf;
            ul.services__menu-items
                li.services__menu-item
                    a(href="#").services__menu-item-link Услуга1
                li.services__menu-item
                    a(href="#").services__menu-item-link Услуга2
                        i.material-icons.expand-more-icon &#xe5cf;
                    ul.service2__menu-items
                        li.service2__menu-item
                            a(href="#").services__menu-item-link Подслуга2
                        li.service2__menu-item
                            a(href="#").services__menu-item-link Подслуга2

                li.services__menu-item
                    a(href="#").services__menu-item-link Услуга с очень длинным названием

        li.header-menu__item
            a(href="#").header-menu__item-link Вакансии
        li.header-menu__item
            a(href="#").header-menu__item-link Новости
        li.header-menu__item
            a(href="#").header-menu__item-link Соглашения
                i.material-icons.expand-more-icon &#xe5cf;
            ul.agreements__menu-items
                li.agreements__menu-item
                    a(href="#").agreements__menu-item-link Соглашение1
                li.agreements__menu-item
                    a(href="#").agreements__menu-item-link Соглашение2