// @import "bourbon"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box


::selection
	background-color: $purple
	color: #fff

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 24px
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $text
	input, textarea
		outline: none
		&:focus:required:invalid
			border-color: $purple
		&:required:valid
			border-color: green


.img-responsive
	display: block
	width: 100% //для lazyload нужно строго 100%, а не max-width: 100%
	height: auto

.text-center
	text-align: center

.gradient-color-text
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent


h1, h2,
.h1, .h2,
	font-family: "OpenSansdBold", serif
	color: $black
	


h1, .h1
	font-size: 24px
	line-height: 30px
	// margin-top: 10px
	margin-bottom: 20px
	padding: 0
	

h2, .h2
	font-size: 19px
	line-height: 24px
	margin-bottom: 20px


h3, .h3
	font-size: 12px
	font-family: "MontserratBold", serif
	color: $black
	text-transform: uppercase
	line-height: 15px
	font-weight: 700
	margin: 0 0 5px 0
	padding: 0

p
	margin-bottom: 10px

.text
	font-size: 14px
	line-height: 18px
	font-family: $default-font
	color: #000

.hidden
	display: none

.white-space
	white-space: nowrap


::placeholder
	color: $gray
	opacity: 1

input, label
	cursor: pointer


//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.lazy
    background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.my-container
	padding: 50px
	
//!!!!!!!!!!!!!!!!!!!!!!!!!!!


.colors-type-container
	margin: 145px 191px 145px 150px
	display: flex
	justify-content: space-between