// @import "bourbon"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box


::selection
	background-color: $purple
	color: #fff

html, body
	height: 100%

body
	margin: 0
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 24px
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $text
	input, textarea
		outline: none
		&:focus:required:invalid
			border-color: $purple
		&:required:valid
			border-color: green


.img-responsive
	display: block
	width: 100% //для lazyload нужно строго 100%, а не max-width: 100%
	height: auto

.text-center
	text-align: center

.gradient-color-text
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent


h1, h2,
.h1, .h2,
	font-family: "OpenSansdBold", serif
	color: $black
	margin: 0
	


h1, .h1
	font-size: 24px
	line-height: 30px
	// margin-top: 10px
	margin-bottom: 20px
	padding: 0
	

h2, .h2
	font-size: 19px
	line-height: 24px
	margin-bottom: 20px


h3, .h3
	font-size: 12px
	font-family: "MontserratBold", serif
	color: $black
	text-transform: uppercase
	line-height: 15px
	font-weight: 700
	margin: 0 0 5px 0
	padding: 0

p
	margin: 0 0 10px

// .text
// 	font-size: 14px
// 	line-height: 18px
// 	font-family: $default-font
// 	color: #000

.hidden
	display: none

.white-space
	white-space: nowrap


::placeholder
	color: $gray
	opacity: 1

input, label
	cursor: pointer

form
	width: 380px
	padding: 40px 30px 30px 30px
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
	border-radius: 4px


.text-title
	font-family: "MontserratBold", serif

.material-icons 
	font-family: "MaterialIcons"
	font-weight: normal
	font-style: normal
	font-size: 24px
	display: inline-block
	line-height: 1
	text-transform: none
	letter-spacing: normal
	word-wrap: normal
	white-space: nowrap
	direction: ltr


	// Support for all WebKit browsers.
	-webkit-font-smoothing: antialiased
	// Support for Safari and Chrome.
	text-rendering: optimizeLegibility
	// Support for Firefox.
	-moz-osx-font-smoothing: grayscale
	// Support for IE.
	font-feature-settings: 'liga'

.house-icons, .face-icons, .fier-icons
	font-size: 48px
	line-height: 41px

.star-icons, .empty-star-icons
	font-size: 24px
	line-height: 20px


.hard-icons, .empty-hard-icons
	font-size: 10px
	line-height: 9px

.arrow-forward-icon
	font-size: 24px
	line-height: 24px
	color: #ffffff

.expand-more-icon
	font-size: 24px
	line-height: 24px
	color: $gray-dark

.social-icons
	font-size: 24px
	line-height: 23px
	padding-left: 20px
	&:first-child
		padding-left: 0



.checkbox-button
	line-height: 18px
	color: $gray-dark
.checkbox-label
	display: flex
	align-items: center
	margin-bottom: 10px


//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.lazy
    background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.my-container
	padding: 50px
	
//!!!!!!!!!!!!!!!!!!!!!!!!!!!


// UI KIT

.colors-type-container
	margin: 145px 191px 145px 150px
	display: flex
	justify-content: space-between

.form-elements-container
	padding: 143px 141px 132px 141px
	display: flex
	justify-content: space-between

.form-elements-container__left-column
	margin-right: 126px
	max-width: 320px
	.input-text
		margin-bottom: 20px
		line-height: 15px
	#guests-list
		margin-bottom: 23px
	#rooms-list
		margin-bottom: 20px
	.datepicker-section
		margin-top: 20px
	.filter-datepicker-section
		margin-top: 21px
	.input-with-arrow
		margin-top: 21px
		margin-bottom: 100px
	.expandable-checkbox-list
		margin-top: 173px
	.ui-kit-expandable-checkbox-list
		margin-top: 49px
	.benefits
		padding-top: 20px
		.benefit:last-child
			margin-bottom: 0

.form-elements-container__right-column-elements
	display: flex
	justify-content: space-between

.form-elements-container__right-column-left-elements
	margin-right: 72px
	.checkbox-buttons
		margin-top: 17px
		margin-bottom: 40px
	.radio-button
		margin-top: 16px
		margin-bottom: 41px
	.toggle-buttons
		margin-top: 16px
		margin-bottom: 44px
		.toggle-button:first-child
			.toggle-label
				margin-bottom: 14px
	.like-buttons
		display: flex
		margin-top: 16px
		margin-bottom: 32px
		.like-button:first-child
			margin-right: 10px
		[for=like2-id]
			.visible-like
				span:after
					content: '2'
		#like2-id.hidden-like:checked + .like-label
			.visible-like
				span:after
					content: '3'
		[for=like12-id]
			.visible-like
				span:after
					content: '11'
		#like12-id.hidden-like:checked + .like-label
			.visible-like
				span:after
					content: '12'
	.rate-stars
		display: flex
		margin-top: 16px
		margin-bottom: 196px
		.rate-star-pic:first-child
			margin-right: 20px
	.dropdown-list
		margin-bottom: 256px
	.rich-checkbox-items
		margin-top: 16px
	
.form-elements-container__right-column-right-elements
	.price-range-slider
		margin-bottom: 43px
	.buttons
		margin-top: 16px
		max-width: 320px
		margin-bottom: 40px
		.button
			margin-right: 20px
		.long-button
			margin-right: 0
	.first-buttons-line
		margin-bottom: 30px
		.purpule-button:last-child
			opacity: 0.5
	.second-buttons-line
		margin-bottom: 31px
		.transparent-button:last-child
			background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%)
	.long-button
		margin-top: 0
		margin-bottom: 0
	.third-buttons-line
		display: flex
		margin-bottom: 30px
	.pagination
		margin-top: 16px
		margin-bottom: 237px
		.pagination__items
			justify-content: flex-start
		.pagination__amount-of-variants
			text-align: left
	.dropdown-list
		margin-bottom: 256px
	.bullet-list
		margin-top: 13px

.form-elements-container__right-column
	display: flex
	// justify-content: flex-end
	flex-direction: column
	justify-content: space-between

.form-elements-container__right-column-comment
	.comment
		margin-bottom: 8px
		.like-button
			text-align: center

// .form-elements-container__right-column-elements
// 	align-self: flex-start

.cards-container
	padding: 150px 140px 140px 140px
	background: #F4F4F6
	display: flex
	.search-rooms-form,
	.room-bill-form,
	.datapicker-inline,
	.room-short-description
		margin-bottom: 40px
	

.cards-container-first-column,
.cards-container-second-column
	display: flex
	flex-direction: column
	margin-right: 40px


// 
.headers-footers
	background-color: #F4F4F6
	display: flex
	justify-content: center
	flex-direction: column
	padding: 150px 0

.headers-footers-container
	background-color: #fff
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
	margin-bottom: 40px

.ui-kit-header-signed-in
	.ui-kit-header-menu__item
		letter-spacing: -0px
		margin-right: 29px
		&:last-child
			margin-right: 0
		&_expand
			margin-right: 20px

// Website pages

.container
	margin: 0 $default-page-lr-margin

.search-room-section,
.registration-room-section,
.sign-in-section
	background-position: center -70px
	background-size: cover
	background-repeat: no-repeat

.search-room-section
	background-position: center bottom // изменила, чтобы было видно надпись

.search-room-section
	background-image: url(../img/image3.png)

.search-room-section__content
	padding: 70px 0 18px
	.search-rooms-form
		margin-bottom: 317px

.search-room-section__text-area
	display: flex
	justify-content: flex-end

.search-room-section__text
	max-width: 279px
	text-align: right
	margin-bottom: 3px

// 
.registration-section,
.sign-in-section
	background-image: url(../img/image4.1.png)
	background-size: cover

.registration-section__content
	padding: 30px 0 26px
	display: flex
	justify-content: center

//
.sign-in-section__content
	padding: 163px 0
	display: flex
	justify-content: center

// 

.search-room-filter-section
	position: relative
	&:after
		content: ""
		height: 1px
		width: 100%
		display: inline-block
		background-color: rgba(31,32,65,.25)
		position: absolute
		bottom: 0
.search-room-filter-section__content
	padding: 30px 0 70px
	display: flex
	justify-content: space-between
	position: relative
	.dropdown-list,
	.dropdown-list__results
		width: 266px
	.expandable-checkbox-list
		h3 
			margin-right: 22px

	.price-range-slider,
	.dropdown-list,
	.checkbox-buttons,
	.rich-checkbox-items
		margin-bottom: 30px
	.checkbox-buttons,
	.rich-checkbox-items
		margin-top: 16px
	

.search-room-filter-section__side-bar_left
	margin-right: 60px

// кнопка от мастера
.toggle-filter
    width: 20px
    height: 20px
    z-index: 2
    margin-left: 20px
    margin-top: 5px
    display: none
    span:after, span:before 
        content: ""
        position: absolute
        left: 0
        top: 9px

    span:after
        top: 18px

    span 
        position: relative
        display: block

    span, span:after, span:before
        width: 100%
        height: 2px
        background-color: $gray
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px

    span 
        background-color: transparent

    span:before 
        transform: rotate(45deg) translate(-1px, 0px)

    span:after 
        transform: rotate(-45deg) translate(6px, -7px)

.search-room-filter-section__side-bar_right
	// display: flex
	// flex-wrap: wrap
	flex-grow: 1
	width: 250px
	position: relative
	// width: 834px //без точного рвзмера овл не хочет работать, но т.к.  flex-grow: 1, то размер респосив получается
	display: none
	&.on
		display: block
	.filter-button
		display: none
		// position: absolute	
		top: 0
		right: 0
		margin-bottom: 20px
		margin-left: 50%
		transform: translate(-50%, 0)
		span
			height: 30px
			padding-top: 7px
			width: unset
			padding-left: 18px
			padding-right: 18px
	.pagination
		margin-top: 22px


.search-room-filter-section__room-cards
	list-style: none
	margin: 0
	padding: 0
	display: flex
	flex-grow: 1
	justify-content: space-between
	flex-wrap: wrap

.search-room-filter-section__room-card
	display: inline-block
	width: 32.3%//270px
	padding: 0
	margin-bottom: 20.5px
	// margin: 0 1.335% 20.5px 0
	// &:nth-child(3n+0)
	// 	margin-right: 0
	// &:first-child
	// 	margin-right: 1.335%
		// margin-right: 12px
	.room-short-description
		width: 100%



// 

.room-details-section
	position: relative
	&:after
		content: ""
		height: 1px
		width: 100%
		display: inline-block
		background-color: rgba(31,32,65,.25)
		position: absolute
		bottom: 0

.room-details-section__content
	display: flex
	justify-content: space-between
	padding: 70px 0

// .room-details-section__room-bill
// 	display: flex
// 	justify-content: center

.room-details-section__room-information
	margin-right: 6.034%// 4.861% 70px
	display: flex
	flex-direction: column
	width: 100%

.room-details-section__qualities,
.room-details-section__regulations
	display: flex
	width: 100%

.room-details-section__qualities-area
	display: flex
	justify-content: space-between
	.room-bill-form
            display: none

.room-details-section__rules
	// margin-right: 9.845% //70px
	h2
		padding-left: 20px
	.bullet-list
		max-width: 75%
		min-width: 254px

.room-details-section__rules,
.room-details-section__cancellation
	flex-shrink: 1
	flex-grow: 1
	flex-basis: 0

.room-details-section__cancellation
	// max-width: 341px
	padding-left: 1.55%
	min-width: 257px
	p
		margin: 0

.room-details-section__benefits
	margin-right: 1.6% //81px
.room-details-section__benefits,
.room-details-section__impressions
	flex-grow: 1
	flex-shrink: 1
	flex-basis: 0

// .room-details-section__diagram
// 	width: 122px
// 	height: 122px


// .apexcharts-canvas.apexchartsjgj8lw2v
// 	width: 122px
// 	height: 122px


// .donut-segment:hover	
// 	stroke-width: 5

// // <circle class="donut-external-ring" cx="21" cy="21" r="18.11549430918954" fill="transparent" stroke="#fff" stroke-width="3" stroke-dasharray="100" stroke-dashoffset="0"></circle>
// // 
// 		// transform: translate( -1px, -1px)

// // 		animation: fadeAndScale 13s ease-in infinite
// // 		-ms-animation: fadeAndScale 13s ease-in infinite
// // 		-webkit-animation: fadeAndScale 13s ease-in infinite
// // 		-moz-animation: fadeAndScale 13s ease-in infinite
// // 		-o-animation: fadeAndScale 13s ease-in infinite
// // 		transition-timing-function: linear

// // @keyframes fadeAndScale
// //   0%
// //     z-index: 100
// //     transform: scale(1)
// //     // transform: translate(2px, 2px)
  
// //   100%
// // 	stroke-width: 1.2
// //     z-index: 0
// // 	transform: scale(2)

// .chart-text 
// 	-moz-transform: translateY(0.25em)
// 	-ms-transform: translateY(0.25em)
// 	-webkit-transform: translateY(0.25em)
// 	transform: translateY(0.25em)
// 	fill: $purple

// .chart-number 
// 	font-family: "OpenSansdBold", serif
// 	font-size: 7px
// 	line-height: 30px
// 	text-anchor: middle
// 	// -moz-transform: translateY(-0.25em)
// 	// -ms-transform: translateY(-0.25em)
// 	// -webkit-transform: translateY(-0.25em)
// 	// transform: translate(7%, -10%)

// .chart-label 
// 	font-family: "MontserratBold", serif
// 	font-size: 4.5px
// 	line-height: 15px
// 	text-anchor: middle
// 	// -moz-transform: translateY(0.7em)
// 	// -ms-transform: translateY(0.7em)
// 	// -webkit-transform: translateY(0.7em)
// 	// transform: translateY(0.7em)

// .chart_wrap
// 	// width: 320px
// 	height: 120px

// #chart
// 	display: inline-block
// 	position: relative
// 	z-index: 10
// 	.apexcharts-legend-marker
// 		margin-right: 5px


.room-details-section__comments
	margin-top: 13px
	position: relative
	&:after
		content: "2 отзыва"
		position: absolute
		top: 2px
		right: 0
		color: $gray-dark
		margin-left: 20px
	.comment_text
		max-width: unset
	h2
		width: 76%
		display: inline-block


.room-details-section__regulations
	margin-top: 33px
	margin-bottom: 3px
	h2
		margin-bottom: 17px
		

  




