.ui-kit-alternative-footer
    .ui-kit-alternative-footer__content
        .company-info
            .company-info__logo
                img.company-info__logo-img(src="../img/Logo.png", alt="logo")
            p.company-info__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

            .company-info__social-media
                i.social-icons.fa.fa-twitter.gradient-color-text
                i.social-icons.fa.fa-facebook-square.gradient-color-text
                i.social-icons.fa.fa-instagram.gradient-color-text