.ui-kit-colors
    ul.ui-kit-colors__items
        li.ui-kit-colors__item.ui-kit-colors__item_black
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Dark Shade 100%
                span #1F2041
        li.ui-kit-colors__item.ui-kit-colors__item_text
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Dark Shade 75% 
                span #1F2041
        li.ui-kit-colors__item.ui-kit-colors__item_gray-dark
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Dark Shade 50% 
                span #1F2041
        li.ui-kit-colors__item.ui-kit-colors__item_gray
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Dark Shade 25% 
                span #1F2041
        li.ui-kit-colors__item.ui-kit-colors__item_gray-light
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Dark Shade 5% 
                span #1F2041
        li.ui-kit-colors__item.ui-kit-colors__item_purple 
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Purple 
                span #BC9CFF
        li.ui-kit-colors__item.ui-kit-colors__item_green
            //- .ui-kit-colors__color
            .ui-kit-colors__text-area Green 
                span #6FCF97