nav.pagination
    ul.pagination__items
        li.pagination__item 
            span.pagination__nonactive-item 1
        li.pagination__item
            a.pagination__active-item(href="#") 2
        li.pagination__item
            a.pagination__active-item(href="#") 3
        li.pagination__item
            span.pagination__ellipsis-item ...
        li.pagination__item
            a.pagination__active-item(href="#") 15
        li.pagination__item
            a.pagination__next-item(href="#")
                i.material-icons.arrow-forward-icon &#xe5c8;

    .pagination__amount-of-variants 1 – 12 из 100+ вариантов аренды
