include ../room-number-price/room-number-price
include ../rate-star-pic/rate-star-pic
mixin room-short-description(simpleImg, roomNumber, addInfo, price, feedbackAmount, starsAmount, ...imgs)

    -
        var addClass="";
        if (simpleImg) {
            var addClass="room-short-description__simple-img-carousel";
        }

    .room-short-description

        .room-short-description__img-carousel(class= addClass)
            .room-short-description__img-area.owl-carousel
                each img in imgs

                    .room-short-description__img(style!='background-image: ' + img)
                    
                                    //- img.room-short-description__img(src=img)
                //- .room-short-description__img(style="background-image: url(../img/image1.png)")
                //- .room-short-description__img(style="background-image: url(../img/image2.png)")
                //- .room-short-description__img(style="background-image: url(../img/image1.png)")
                //- .room-short-description__img(style="background-image: url(../img/image2.png)")
            i.material-icons.expand-more-icon.slider-button-prev &#xe5cf;
            i.material-icons.expand-more-icon.slider-button-next &#xe5cf;

        .room-short-description__info
            +room-number-price(roomNumber, addInfo, price)

            .room-short-description__feedback
                +rate-star-pic(starsAmount, 5 - starsAmount)
                .room-short-description__feedback-amount
                    span!= feedbackAmount
                    |  Отзывов


//- simpleImg - boolean, если картинка без затемнений и стрелочек, то true
//- иначе ""