<!DOCTYPE html>
html(lang="en")

	head

		meta(charset="utf-8")
		//- <base href="/">

		title New project
		meta(name="description" content="Создание адаптивного сайта")

		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		
		//-  Template Basic Images Start
		meta(property="og:image" content="path/to/image.jpg")
		link(rel="icon" href="img/favicon/favicon.ico")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
		//- Template Basic Images End
		
		//- Custom Browsers Color Start
		meta(name="theme-color" content="#000")
		//- Custom Browsers Color End

		link(rel="stylesheet" href="css/main.min.css")



	body
		include blocks/room-bill-form/room-bill-form
		include blocks/room-short-description/room-short-description
		
		

		.cards-container
			.cards-container-first-column
				include blocks/search-rooms-form/search-rooms-form
				include blocks/accaunt-registration-form/accaunt-registration-form

			.cards-container-second-column
				+room-bill-form('9 990')
				include blocks/sign-in-form/sign-in-form

			.cards-container-third-column
				include blocks/datapicker-inline/datapicker-inline

		script(src="js/libs.min.js")





