.ui-kit-types
    ul.ui-kit-types__items
        li.ui-kit-types__item
            .h1 This one is the sub-section or widget title
        li.ui-kit-types__item
            .h2 Next one is the item title inside widgets
        li.ui-kit-types__item
            .h3 This is a label or CTA text
        li.ui-kit-types__item
            p This is the body text which is used for most of the design, like paragraphs, lists, etc.