.header-signed-in

    .header-signed-in__logo
        img.header-signed-in__logo-img(src="../img/Logo.png", alt="logo")

    .header-signed-in__menu-line

        include ../header-menu/header-menu
        .header-signed-in__name-devidor
        .header-signed-in__user-name Cosmin Negoita        