include ../input-with-arrow/input-with-arrow

.footer

    .footer-content

        .company-info

            .company-info__logo
                img.company-info__logo-img(src="../img/Logo.png", alt="logo")
            p.company-info__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        .navigation
            h3 Навигация
            ul.navigation-items
                li.navigation-item
                    a.navigation-item-link(href="#") О нас
                li.navigation-item
                    a.navigation-item-link(href="#") Новости
                li.navigation-item
                    a.navigation-item-link(href="#") Служба поддержки
                li.navigation-item
                    a.navigation-item-link(href="#") Услуги

        .about-us
            h3 О нас
            ul.about-us-items
                li.about-us-item
                    a.about-us-item-link(href="#") О сервисе
                li.about-us-item
                    a.about-us-item-link(href="#") Наша команда
                li.about-us-item
                    a.about-us-item-link(href="#") Вакансии
                li.about-us-item
                    a.about-us-item-link(href="#") Инвесторы


        .support-service
            h3 Служба поддержки
            ul.support-service-items
                li.support-service-item
                    a.support-service-item-link(href="#") Соглашения
                li.support-service-item
                    a.support-service-item-link(href="#") Сообщщества
                li.support-service-item
                    a.support-service-item-link(href="#") Связь с нами


        .subscription
            h3 Подписка
            p.subscription-text Получайте специальные предложения и новости сервиса
            +input-with-arrow('', "subscription", "Email", "subscription-id")


    hr.page-divider

    .footer-copyright

        .footer-copyright__text-area
            p.footer-copyright__text Copyright © 2018 Toxin отель. Все права зачищены.

        .footer-copyright__social-media
            i.social-icons.fa.fa-twitter.gradient-color-text
            i.social-icons.fa.fa-facebook-square.gradient-color-text
            i.social-icons.fa.fa-instagram.gradient-color-text
