.comment
	display: flex

.comment_text
	max-width: 711px
	margin-left: 10px

// .comment_media-foto
// 	height: 48px
// 	width: 48px
// 	margin-bottom: 12px
// 	background-image: url(../img/comment_foto_1.jpg)
// 	border: 2px solid #FFFFFF
// 	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1)
// 	border-radius: 32px
// 	background-size: contain
// 	background-position: center

.comment_img-wrap
	height: 48px
	width: 48px
	margin-bottom: 12px

.comment_img
	border: 2px solid #FFFFFF
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1)
	border-radius: 32px