include ../button/button
mixin header(name)
    

    header.header
        .container
            .header__content

                a.header__logo(href="index.html")
                    img.header__logo-img(src="../img/Logo.png", alt="logo")

                //- .header__menu-line
                include ../header-menu/header-menu

                if (name)
                    .header__name-devidor
                    .header__user-name!= name
                else
                    +button('<span> Войти </span>', 'transparent-button')(href='sign_in.html') 
                    +button('Зарегистрироваться', 'purpule-button')(href='registration.html') 

//- если пользователь зарегистрировался/вощел +header('Имя'), иначе +header()