mixin room-gallery(bigImg, littleImg1, littleImg2)

    .room-gallery

        .room-gallery__room-big-img(style="background-image:" + bigImg)
        .room-gallery__room-little-imgs
            .room-gallery__room-little-img(style="background-image:" + littleImg1)
            .room-gallery__room-little-img(style="background-image:" + littleImg2)
