mixin room-gallery(bigImgUrl, bigImgSrc, littleImg1Url, littleImg1Src, littleImg2Url, littleImg2Src)

    .room-gallery
        a(href= bigImgSrc data-fancybox="images").room-gallery__room-big-img-link
            .room-gallery__room-big-img(style="background-image:" + bigImgUrl)
        .room-gallery__room-little-imgs
            a(href= littleImg1Src data-fancybox="images").room-gallery__room-little-img-link
                .room-gallery__room-little-img(style="background-image:" + littleImg1Url)
            a(href= littleImg2Src data-fancybox="images").room-gallery__room-little-img-link
                .room-gallery__room-little-img(style="background-image:" + littleImg2Url)
